* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: quicksand;
}

@font-face {
  font-family: quicksand;
  src: url(../fonts/Quicksand-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: quicksand;
  src: url(../fonts/Quicksand-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: quicksand;
  src: url(../fonts/Quicksand-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: quicksand;
  src: url(../fonts/Quicksand-Bold.ttf);
  font-weight: 700;
}

:root {
    --white: #ffffff;
    --green-300: #ECEDED;
    --green-600: #2C3832;
    --blue-100: #D8E6E9;
    --blue-200: #B1CED4;
    --blue-500: #ECF3F5;
    --salmon-400: #E0B284;
    --salmon-600: #A2774C;
    --light-blue: #EAF0F0;
    --green: #4A5C2F;
    --inactive: #D9D9D9;
    --inactive-color: #A9A9A9;
    --dark-hover: #81b9c5;
}

body {
    background-color: var(--white);
    min-height: 100vh;
}

.salmon-400 { background-color: var(--salmon-400); }
.salmon-600 { background-color: var(--salmon-600); }
.light-blue { background-color: var(--light-blue); }
.white-color { color: var(--white); }
.inactive { background-color: var(--inactive); color: var(--inactive-color); }
.green { background-color: var(--green); }

.header-wrapper {
    height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid var(--green-300);
    padding: 20px 35px;

    .header-left {
        display: flex;
        max-width: 555px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .header-right {
        display: flex;
        max-width: 419px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo {
        max-width: 89px;
    }
    .search-input {
        width: 357px;
        border-radius: 10px;
        background-color: var(--blue-500);
        padding: 20px 25px;
        border: none;
        font-family: quicksand;
    }
    .header-calendar {
        display: flex;
        align-items: center;
        
        &::before {
            content: url(../img/calendar.png);
            width: 18px;
            height: 18px;
            padding-right: 10px;
        }
    }

    .header-add {
        display: flex;
        padding: 19px 31px;
        background-color: var(--blue-200);
        border-radius: 10px;
        text-transform: uppercase;
        align-items: center;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
    
        a {
            color: var(--green-600);
            text-decoration: none;
        }

        &::before {
            content: url(../img/add.png);
            padding-right: 10px;
            width: 18px;
            height: 18px;
        }

        &:hover {
            background-color: var(--dark-hover);
        }
    }
}

.content {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 900px;
    margin: 12px auto;
    flex-wrap: wrap;
    gap: 20px;

    .food-item {
        width: 203px;
        min-height: 214px;
        background-color: var(--blue-100);
        border-radius: 15px;
        transition: box-shadow 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            box-shadow: 3px 3px 3px #ddd;
        }

        figure {
            max-width: 203px;
            width: 100%;
            max-height: 143px;
            height: 100%;
            margin: 0;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 15px 15px 0px 0px;
            }
        }
        .food-content {
            padding: 8px 11px;
            
            .food-item-title {
                text-align: center;
                font-family: quicksand;
                font-weight: 500;
                font-size: 17px;
                text-transform: uppercase;
            }   
            .food-category {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 9px;

                .food-category-label {
                    font-family: quicksand;
                    font-weight: 500;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                .food-category-items {
                    display: flex;
                    justify-content: space-between;
                    gap: 12px;

                    .food-category-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 23px;
                        height: 23px;
                        border-radius: 50%;
                        font-family: quicksand;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 1;
                        position: relative;

                        .sub {
                            font-size: 9px;
                            transform: translateY(3px);
                            margin-left: 1px;
                        }
                    }
                }
            }  
        }  
    }
    .content-filter {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
        width: 100%;
        height: auto;
        background-color: var(--light-blue);
        padding: 25px 22px;

        .btn {
            padding: 19px 44px;
            border: none;
            font-family: quicksand;
            font-weight: 500;
            font-size: 16px;
            border-radius: 10px;
            text-transform: uppercase;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s ease-in-out;

            &:active {
                color: var(--green-600);
            }
            &:hover {
                background-color: var(--green-600);
            }
        }
    }
}

.footer-wrapper {
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .content-filter {
        height: auto;
        flex-direction: column;
        gap: 10px;
    } 
    .content-filter .btn {
        padding: 10px 40px;
    }
    .header-wrapper {
        height: auto;
        flex-direction: column;
        gap: 15px;
    } 
    .header-left .search-input {
        width:250px;
        padding: 10px 25px;
    } 
    .header-calendar {
        font-size: 14px;
    }
    .header-right .header-add {
        padding: 5px 15px;
    }
}